.titlePage{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial Black;
    text-align: center;
}

.contPage{
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
    padding-left: 3%;
    display: inline-table;
    width: 100%;
}

.bodyInicio{
    background-color: #cccccc;
}

.marginBottom{
    margin-bottom: 5%;
}

.titlePromotions{
    color: #1B1F78;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrPromotios{
    font-size: 20px;
    text-align: justify;
}

.textPromotions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerForm{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/********** MODAL **********/
.modalForm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60% !important; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.imgIcon{
  max-width: 20%;
}

.imgPreviewTable{
  width: 50px !important;
  height: 50px !important;
  border-radius: 30px;
}

.imgPreviewForm{
  width: 160px;
  height: 160px;
}

.imgPreviewEstimate{
    max-width: 50% !important;
    max-height: 50% !important;
}

.imgViewCard{
    max-width: 100% !important;
    max-height: 100% !important;
}

.divTableInfoFiltered{
    margin-top: 2% !important;
}

.cardEstimate{
    display: flex;
    align-items: center;
    background-color: #cc3030 !important;
    color: #ffffff;
    border: 5px solid #000000;
    border-radius: 15px;
}

.divTableEstimate{
    display: flex;
    justify-content: center;
    margin-top: 3% !important;
}

.tblTheadEstimate{
    background: #cc3030;
    color: #ffffff;
    border: 2px solid #000000;
}

.thTHeadEstimate{
    border: 2px solid #000000;
    height: 50px;
    text-align: center;
    width: 130px;
}

.tdNewElementEstimate{
    font-weight: normal !important;
    border: 2px solid #000000;
}

.tPriceAlign{
    text-align: right !important;
}

.tblFootEstimate{
    font-weight: bold;
    font-style: italic;
}

.tdTfootEstimate{
    border: 2px solid #000000;
}

.employeeTable{
    padding-right: 0;
    padding-left: 1% !important;
    width: 0 !important;
}

@media only screen and (max-width: 1500px) {
    .imgIcon{
        max-width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .imgIcon{
        max-width: 45%;
    }
}

@media only screen and (max-width: 770px) {
    .imgIcon{
        max-width: 60%;
    }
}

@media only screen and (max-width: 575px) {
    .imgIcon{
        margin-top: 1%;
        max-width: 25%;
    }
    
    .divBtnSearch{
        margin-top: 3% !important;
    }
}