.titlePage{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial Black;
    text-align: center;
}

.contPage{
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
    padding-left: 3%;
    display: inline-table;
    width: 100%;
}

.bodyInicio{
    background-color: #cccccc;
}

.marginBottom{
    margin-bottom: 5%;
}

.titlePromotions{
    color: #1B1F78;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrPromotios{
    font-size: 20px;
    text-align: justify;
}

.textPromotions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/********** MODAL **********/
.modalForm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60% !important; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }